

.Main{
    display: flex;
    flex-direction: column;
    margin:20px 40px 20px 40px;
    gap: 15px;
    background-color: white;
    font-family: sans-serif;
}
.upper_main{
    font-size: 30px;
}

.Container{
    border-radius: 0.80rem;
    border: solid 0.5px #D3D3D3;
   height: 460px;
   align-items: center;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 
}
.iconstatus{
    position: absolute;
    margin:20px 30px 40px 30px;
     height: 60px;
     width: 60px;
     bottom: 0;
     right: 0;
     z-index: 100;
     border-radius: 50%;
     background-color: #76D7C4;
     color:#F7DC6F;
     display: flex;
     align-items: center;
     cursor: pointer;
}
.iconstatus:hover{
  background-color: #F7DC6F;
  color:#76D7C4;
}
.iconstatus .robot{
    width: 90%;
    height: 90%;
    margin: auto;
} 


@media (max-width:300px)
{
    .Main{
        width: 50% ;
    }
}


