:root {
    --message-background-color: rgb(245, 243, 243);
    --incoming-message-background-color: #007bff;
    --incoming-message-text-color: white;
  }
  
  .Body {
    height: 85%;
    margin: 10px;
    overflow: auto;
    
  }
  
  .Body .message {
    margin: 10px;
    padding: 10px;
    min-width: 50px;
    max-width: 70%;
    text-align: left;
    min-height: 40px;
    font-size: 15px;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: var(--message-background-color);
  }
  
  .incoming-message {
    display: flex;
    justify-content: flex-end;
  }
  
  .incoming-message .message {
    background-color: var(--incoming-message-background-color);
  }
  
  .incoming-message .message p {
    color: var(--incoming-message-text-color);
  }
  
  .text_field {
    width: 98%;
    margin: auto;
    height: 5.5%;
    display: flex;
    flex-direction: row;
  }
  