.refresh{
    width: 98%;
    margin: auto;
    height: 8%;
    border-bottom: solid 0.5px #D3D3D3;
    display: flex;
}
.refresh .profile{
  
    display: flex;
    margin: 5px;
    column-gap: 10px;
    align-items: center;
}
.refresh .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50px;

}
.refresh .profile span{
    font-weight:600;
}

.refresh .icon_div{
    display: flex;
    margin: auto 10px auto auto;
    column-gap: 15px;
} 
.icon_div  .icon{
cursor: pointer;
}