.text_field{
    margin: auto;
    z-index: 100;
}
.text_field  input{
    width: 100%;
    outline: none;
    resize: none;
    overflow: hidden;
    padding: 5px 40px 5px 5px;
    min-height: 40px;
    border-radius: 0.25rem;
    border: solid 0.5px #D3D3D3;
    
}
.text_field .arrow{
    margin-left: -35px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5px;
}


